<button type="button" id="start-typing-button" class="buttons">Start typing button</button>
<div id ="instruction-box">
    <ul id="instructions-list">
        <li id="instruction-text">Click the start typing button to start the test</li>
        <li id="instruction-text">Once you click the button, begin typing the words shown</li>
        <li id="instruction-text">The time begins as soon as you click the button</li>
        <li id="instruction-text">Only correct words will be added to your WPM</li>
        <li id="instruction-text">If you would like to save your score in the end, please enter your name when asked</li>
        <li id="instruction-text">have fun!</li>
    </ul>
</div>
<div id="is-it-correct"></div>

<div id="game" class="game-box">
    <div id="what-to-type" class="hidden text-box">
        <p id="to-be-typed" class="text">
            Type this please
        </p>
    </div>

    <div id="typing-input" class="hidden insert-text-box">
        <label for="user-text-input">Insert text here</label>
        <input type="text" id="user-text-input"></input>
    </div>

    <div id="highscore-box" class="highscore">
        <p id="highscores-p" class="highscores">
            HIGHSCORES
        </p>
        <div id="highscore-container">
          {{#each score}}
              {{> highScore}}
          {{/each}}
        </div>
    </div>
</div>

<div id="coding" class="crew">
    <p id="group" class="group-list">
      Authors:  Ian Beard, Zack Chand, James Rundle, Andy James
    </p>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="save-score-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Save Score</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            <span id='score-output'></span>
        </div>

        <div class="modal-body">

            <div class="score-input-element">
                <label for="name-input">Name</label>
                <input type="text" id="name-input"></input>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button action-button">dont save</button>
            <button type="button" id="modal-accept" class="action-button">Save</button>
        </div>
    </div>
</div>
