<button type="button" id="start-typing-button" class="buttons">Start typing button</button>

<div id="is-it-correct"></div>

<div id="game" class="game-box">
    <div id="what-to-type" class="hidden text-box">
        <p id="to-be-typed" class="text">
            Type this please
        </p>
    </div>

    <div id="typing-input" class="hidden insert-text-box">
        <label for="post-text-input">Insert text here</label>
        <input type="text" id="post-text-input"></input>
    </div>

    <div id="highscore-box" class="highscore">
        <p id="highscores-p" class="highscores">
            HIGHSCORES
        </p>
        {{#each score}}
            {{> highScore}}
        {{/each}}
    </div>
</div>

<div id="coding" class="crew">
    <p id="group" class="group-list">
        Ian Beard, Zack Chand, James Rundle, Andy James
    </p>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="save-score-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Save Score</h3>
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
            <span id='score-output'></span>
        </div>

        <div class="modal-body">

            <div class="score-input-element">
                <label for="name-input">Name</label>
                <input type="text" id="name-input"></input>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button action-button">dont save</button>
            <button type="button" id="modal-accept" class="action-button">Save</button>
        </div>
    </div>
</div>